// colors
$blue: rgb(2, 127, 255);
$lightBlueBorder: rgb(224, 231, 255);
$lightBlue: rgba(224, 231, 255, 0.2);
$green: rgb(54, 182, 138);
$lightGray: rgba(46, 56, 77, 0.3);
$gray: rgb(46, 56, 77);
$ligntGray: rgba(46, 56, 77, 0.3);
$red: rgb(249, 36, 0);
$white: #fefefe;
$black: #000000;

// media queries
$media-sm: 500px;
$media-md: 768px;
$media-lg: 991px;
$media-xl: 1024px;

$container: 900px;

